@tailwind base;
@tailwind components;
@tailwind utilities;


  


@layer components {
   .nav-link {
    @apply p-4 flex items-center gap-3 font-geist font-normal text-base
   }
   .nav-active {
    @apply bg-blue-100 border-blue-500 border-2 text-blue-600
   }
   .auth-hero{
    @apply font-geist font-semibold text-xl tracking-normal align-middle text-blue-600 leading-[100%]
   }
   .auth-hero-description {
    @apply font-geist text-base font-normal tracking-normal align-middle leading-[100%] text-gray-700
   }
   .auth-hero-heading {
    @apply border-2 border-blue-600 w-9 h-9 items-center justify-center flex shrink-0
   }
   .auth-heading{
    @apply font-inter font-bold text-3xl leading-[100%] align-middle text-gray-800
   }
   .form-label {
    @apply font-geist font-medium text-base align-middle leading-[100%] text-gray-800
   }
   .form-input {
    @apply font-geist font-normal text-sm align-middle leading-[100%] border-2 px-3 py-4 border-borderGray
     focus:border-blue-600 focus:outline-none text-gray-400 focus:text-black placeholder:text-gray-400
   }

}

/* Geist Font */
@font-face{
    font-family: "Geist Mono";
    src: url("/assets/fonts/GeistMono-Regular.ttf") format('truetype')
}
/* Inter Font */
@font-face{
    font-family: "Inter", sans-serif;;
    src: url("/assets/fonts/Inter_18pt-SemiBold.ttf") format('truetype')
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}